// HELPERS.SCSS
.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: start;
  }

  &.justify-end {
    justify-content: end;
  }

  &.space-between {
    justify-content: space-between;
  }


  &.gap16 {
    gap: 16px;
  }

  &.gap8 {
    gap: 8px;
  }
}



/* text helpers */

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

// Positioning Helpers
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}


/* list helpers */
.list-inline {
  display: inline-block;
  margin: 0;
  padding: 0;
  &-item {
    display: inline-block;
    margin-right: 8px;
  }
}

.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.shift-card {
  height: rem(88px);
  background-color: $main-app;
  border-bottom: 1px solid #303746;
}