.new-shift {
  background-color: $main-app;

  .actions {
    .action {
      padding: 24px 16px;
      color: $text-clr;
      height: rem(88px);

      svg {
        color: $primary-clr;
      }

    }
  }

  input {
    width: max-content;
    height: 32px;
  }

  .note {
    padding: 16px;
  }
}