.update-shift-header {
  .tabs {
    max-width: 246px;
    max-height: 31px;
    background: #141821;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 35px;

    .tab {
      color: $text-clr;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: $primary-clr;
      }
    }
  }
}